/* .sec-one {
    background-image: url("https://cdn.pixabay.com/photo/2014/09/03/20/15/shoes-434918_1280.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
